body {
    background: beige;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,h2, p {
    color: black;
}

header {
    background: pink;
}

header h1 {
    color: black;
}

section#copy { background-color: black;
    color: white;

}